<li><a href="@Url.Action("Today", "App", new { applicationName = @ViewBag.ApplicationName })">Today</a></li>
<li><a href="@Url.Action("ThisWeek", "App", new {applicationName = @ViewBag.ApplicationName})">This week</a></li>
<li><a href="@Url.Action("AllExceptionTypes", "App", new {applicationName = @ViewBag.ApplicationName})">Exceptions</a></li>
<li>
	<form method="GET" action="@Url.Action("Search", "App")">
		<div class="input-field">
			<input type="hidden" name="applicationName" value="@ViewBag.ApplicationName"/>
			<input id="search" type="search" required name="q" placeholder="@ViewBag.SearchQuery">
			<label for="search"><i class="material-icons">search</i></label>
			<i class="material-icons">close</i>
		</div>
	</form>
</li>
