@model IEnumerable<IGrouping<string, LogEntry>>
@{
	ViewBag.Title = "This week's log entries for " + ViewBag.ApplicationName;
}

<span class="lozenge">@ViewBag.EnvironmentName</span>
<h2 class="application-name">@ViewBag.ApplicationName</h2>
<h5>Common exception types for the last week</h5>

<div class="row">
	<table class="errors">
		<thead>
			<tr>
				<th>Count</th>
				<th>Exception type</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			@foreach (IGrouping<string, LogEntry> logEntry in Model)
			{
				<tr id="@logEntry">
					<td class="error-time">@logEntry.Count()</td>
					<td class="error-message"><a href="@Url.Action("ExceptionType", "Home", new { applicationName = @ViewBag.ApplicationName, exceptionType = logEntry.Key})">@logEntry.Key</a></td>
					<td class="error-server"></td>
				</tr>
				<tr class="hide">
					<td colspan="4"><pre class="message"></pre></td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section AdditionalNav
{
	@Html.Partial("AppNavigation")
}