@model IEnumerable<LogEntry>
@{
	ViewBag.Title = "Todays log entries for " + ViewBag.ApplicationName;
}

<span class="lozenge">@ViewBag.EnvironmentName</span>
<h2 class="application-name">@ViewBag.ApplicationName</h2>
<h5>@ViewBag.ExceptionType</h5>

<div class="row">
	@Html.Partial("EntriesForDay", LogEntriesForDay.Create(Model, DateTime.Today))
	@Html.Partial("EntriesForDay", LogEntriesForDay.Create(Model, DateTime.Today.AddDays(-1)))
	@Html.Partial("EntriesForDay", LogEntriesForDay.Create(Model, DateTime.Today.AddDays(-2)))
	@Html.Partial("EntriesForDay", LogEntriesForDay.Create(Model, DateTime.Today.AddDays(-3)))
	@Html.Partial("EntriesForDay", LogEntriesForDay.Create(Model, DateTime.Today.AddDays(-4)))
	@Html.Partial("EntriesForDay", LogEntriesForDay.Create(Model, DateTime.Today.AddDays(-5)))
	@Html.Partial("EntriesForDay", LogEntriesForDay.Create(Model, DateTime.Today.AddDays(-6)))
</div>

@section AdditionalNav
{
	@Html.Partial("AppNavigation")
}

@section scripts
{
	<script src="~/Scripts/expand-messages.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			Kelpie.ErrorMessageExpander.init();
		});
	</script>
}