@model IEnumerable<Kelpie.Core.Domain.LogEntry>
@{
	ViewBag.Title = "Todays log entries for " + ViewBag.ApplicationName;
}

<span class="lozenge">@ViewBag.EnvironmentName</span>
<h2 class="application-name">@ViewBag.ApplicationName</h2>

<div class="row">
	@Html.Partial("EntriesForDay", LogEntriesForDay.Create(Model, DateTime.Today))
</div>

@section AdditionalNav
{
	<li><a href="@Url.Action("Today", "Home", new { applicationName = @ViewBag.ApplicationName })">Today</a></li>
	<li><a href="@Url.Action("ThisWeek", "Home", new {applicationName = @ViewBag.ApplicationName})">This week</a></li>
	<li><a href="@Url.Action("AllExceptionTypes", "Home", new { applicationName = @ViewBag.ApplicationName })">Exceptions</a></li>
}

@section scripts
{
	<script src="~/Scripts/expand-messages.js"></script>
	<script type="text/javascript">
			$(document).ready(function () {
				Kelpie.ErrorMessageExpander.init();
			});
	</script>
}